.header
{
  position: relative;
  display: flow-root;
  background-color: #ffffff00;
  box-shadow: 0px 0px 3px 3px #00000052;
  height: 47px;
}
.footer
{
  position: relative;
  display: flow-root;
  background-color: #facf44;
  box-shadow: 0px 0px 3px 3px #00000052;
  height: 70px;
  text-align: center;
  /*margin-top: 100px;*/


    padding: 10px 15px;
    border-bottom-right-radius: 3px;
    border-bottom-left-radius: 3px;
    display: block;
}
.main
{
	margin-top: 30px;
    width: 70%;
    margin-left: auto;
    margin-right: auto;
    border: 2px black solid;
    background-color: #6a361094;
}
.hitems
{	
	margin-right: 10px;
	margin-left: 15px;

}
.hitems:hover
{
	background-color: #b0dbd0;
	border: 1px solid black;
}

.p-desc
{
	width: 90%;
    margin-left: 20px;
}

ul
{
	position: relative;
	list-style-type: none;
	top: -9px;
	margin: 0;
	padding-left: 0;
}
li a
{
	float: left;
	color: black;
	text-decoration: none;
	font-family: sans-serif;
	margin-left: 2px;
	margin-right: 2px;
	margin-top: 10px;
	display: block;
	padding: 15px;
	display: flex;
}

a:hover
{
/*	background-color: #b0dbd0;
	border: 1px solid black;
	text-decoration: underline;*/
	color: black;
	font-weight: bolder;
	box-shadow: -5px 0 5px -5px #333, 5px 0 5px -5px #333;
}
.current
{
/*	background-color: #b0dbd0;
	border: 1px solid black;
	text-decoration: underline;*/
	color: black;
	font-weight: bolder;
	box-shadow: -5px 0 5px -5px #333, 5px 0 5px -5px #333;
}
.search
{
	float: left;
}

.gallerycontent
{
	border: 1px solid black;
	border-radius: 3px;
    display: inline-block;
    margin-top: 30px;
    margin-right:5px;
	margin-left:5px;
	box-shadow: 3px 3px #00000052 ;
}

textarea
{
	resize: none;
	border: none;
	width: 19vw;
}

h1
{
	font-family: Lobster;
	font-size: 4vw;
}

@font-face
{
	font-family: "Lobster";
	src: url('Lobster_1.3.otf') format('embedded-opentype'),
	url('Lobster_1.3.otf') format('opentype');
}

.gallerypics
{
	width: 20vw;height: 20vw;
	vertical-align: bottom;
	object-fit: cover;
}
.ggallerypics
{
	width: 20vw;height: 20vw;
	vertical-align: bottom;
	object-fit: cover;
}

body
{
/*	background-color: #6a361094;*/
/*	background-image: url("bg1.jpg");
	background-position: center;
	background-attachment: fixed;
	background-repeat: no-repeat;*/
	background-size: 100% 100%;
	margin: 0;
}

.container
{
	width: 60%; 
	margin:auto; 
	background-color: white;
	box-shadow: 0px 0px 15px 3px #00000052;
}